<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
?>

<script src="/snep/includes/javascript/password.js"></script>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

<div class="row">
    <form id="defaultForm" method="post" class="form-horizontal" action="<?php echo $this->url(array("module" => "snep-q-manager", "controller" => "pauses", "action" => "edit"), null, false); ?>" METHOD="post">

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Code");?></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="code" value='<?php echo $this->pause[0]->code; ?>' readonly/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Name");?></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" placeholder='<?php echo $this->translate("Name")?>' value="<?php echo $this->pause[0]->name; ?> " />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Pause Time per Day");?></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="limit" id="limit" placeholder='<?php echo $this->translate("If more than a break of this type, consider the sum of the times")?>' value="<?php echo $this->pause[0]->limit; ?> " />
            </div>
        </div>

        <div class="snep-body-footer-buttons">
            <button type="submit" class="btn btn-add" name="signup" value="Sign up"><?php echo $this->translate("Save");?></button>
            &nbsp;&nbsp;&nbsp;
        	<a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
        </div>
    </form>
</div>

<script type="text/javascript">

jQuery.noConflict();

jQuery('#limit').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        format: 'HH:mm',
        showClose: true,
        useCurrent:false
    });

jQuery(document).ready(function(){
    jQuery('#defaultForm').validate({
        rules: {
            name: {
                required: true,
                maxlength: 20,
            },
            limit: {
                required: true
            }
        },
        messages: {
            name: {
                required: "<?php echo $this->translate('The name is required'); ?>",
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>"
            },
            limit: {
                required: "<?php echo $this->translate('The maximum break time is required'); ?>"
            }
        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
});

Event.observe(window, 'load', init, false);
function init() {
    mask = new maskCostCenter('id');
}
</script>



